/* borjaMontseny DAW2 M09 2023 */
body {
    background-color: powderblue;
}

table {
    height: 90%;
    border-collapse: collapse;
}

table,
td {
    border: 1px solid black;
    text-align: center;
}

@media (max-width: 600px) {

    table,
    tr,
    td {
        display: block;
        width: 100%;
    }

    td {
        margin-bottom: 10px;
    }
}