body {
    margin: 0;
    padding: 0;
    background-color: powderblue;
}

h2 {
    margin: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
td {
    border: 1px solid black;
    text-align: center;
}

table img {
    width: 100%;
    height: auto;
    display: block;
}

td {
    padding: 10px;
}

@media (max-width: 650px) {
    table,
    tr,
    td {
        display: block;
        width: 100%;
    }

    td {
        margin-bottom: 10px;
    }
}